@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body {
  width: 1920px;
  height: 1080px;
	margin: 0px;
	background-color: black;
  overflow: hidden;
}
  
#main {
  position: relative;
  width: 1920px;
  height: 1080px;
	background-color: black;
  /* text-align: center; */
}

#banner {
  position: absolute;
  width: 180px;
  /* height: 80px; */
  top: 0px;
  left: 1740px;
  color: white;
  padding: 20px;
  font: 24pt Montserrat;
  font-weight: 500;
  background-color: black;
  /* background-image: url("images/gradient.jpg"); */
  /* filter: drop-shadow(0px 10px 15px black); */
  /* border-radius: 20px; */
  z-index: 2;
  opacity: 0.9;
}